<h1>Your coach is waiting for your question</h1>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id"question" name="query" placeholder="What time is it?">
  <input type="submit" value="Go on!">
</form>
